# Dependências
node_modules/
frontend/node_modules/
backend/node_modules/

# Variáveis de ambiente
.env
frontend/.env
backend/.env

# Logs
*.log
npm-debug.log*

# Build
dist/
build/
coverage/

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/